button{
  width: 80px;
  height: 21px;
}

.controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px;
  border-bottom: 1px dashed #ccc;
}
.controls > p {
  margin-top: 0;
  margin-bottom: 0;
}

.price{
  margin-left: 15px;
  margin-right: 20px;
  font-weight: 700;
}
