
.noProducts{
  text-align: center;
  margin-top: 30px;
}

.finalWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.finalText {
  font-weight: 900;
  margin-right: 40px;
}

.finalPrice {
  font-weight: 900;
  margin-right: 110px;
}